.form__button {
  border-radius: 4px;
  border: none;
  background-color: #2f80ed;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  height: 60px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.form__button:hover {
  opacity: 0.7;
}