/* ============ RESERVATION ============ */

.reservation {
  padding: 100px 0 120px;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Contenedor centrado */
.reservation__content {
  max-width: 385px;
  margin: 0 auto;
}

/* Título */
.reservation__title {
  margin: 0 0 80px;
  max-width: 385px;

  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}
