/* ============ RESERVATION ============ */

.reservation {
  padding: 100px 0 120px;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Contenedor centrado */
.reservation__content {
  max-width: 385px;
  margin: 0 auto;
}
.reservation__form {
  margin-top: 80px;
}
/* Título */
.reservation__title {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 80px;
  align-self: center;
}